<div *ngIf="!!message" class="mensaje-resultado {{ messageClass }}" role="alert">
  {{ message }}
</div>

<div class="card mt-3">
  <div class="card-header">
    <h2>Nueva Mascota</h2>
  </div>
  <div class="card-body">
    <form name="formNuevaM" (submit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="formNuevaM.nombre" #nombre="ngModel" 
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" maxlength="30" noEspaciosBlancos required />
          <div class="alert alert-danger" role="alert" *ngIf="nombre.errors && f.submitted">
            <div *ngIf="nombre.errors.required || nombre.errors.noEspaciosBlancos">El Nombre es obligatorio</div>
            <div *ngIf="nombre.errors.pattern">El Nombre sólo admite letras</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="tipo">Tipo</label>
          <select name="tipo" id="tipo" class="form-select" [(ngModel)]="formNuevaM.tipo" #tipo="ngModel" required>
            <option value="" selected>Seleccione un tipo</option>
            <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{ tipo.nombre }}</option>
          </select>
          <div class="alert alert-danger" role="alert" *ngIf="tipo.errors && f.submitted">
            <div *ngIf="tipo.errors.required">El Tipo es obligatorio</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="precio">Precio</label>
          <input type="number" name="precio" id="precio" placeholder="Precio" class="form-control" [(ngModel)]="formNuevaM.precio" #precio="ngModel" 
            pattern="[0-9.,]+" step="0.01" min="0.01" max="9999.99" required />
          <div class="alert alert-danger" role="alert" *ngIf="precio.errors && f.submitted">
            <div *ngIf="precio.errors.required || precio.value<=0">El Precio es obligatorio</div>
            <div *ngIf="precio.errors.max">El Precio máximo es de 9.999,99</div>
            <div *ngIf="precio.errors.pattern">El Precio sólo admite números</div>
          </div>
        </div>
      </div>
      <div class="form-group pt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" (click)="cancelarNuevaM()" class="btn btn-secondary mx-2">Cancelar</button>
      </div>
    </form>
  </div>
</div>
